* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background: #f9f9f9;
  color: #121212;
  user-select: none;
  cursor: default;
}

header {
  width: 100%;
  nav {
    width: 85%;
    height: 80px;
    padding: 40px 10px;
    margin: 0 auto;
    .nav-item {
      color: #8a8a8a;
      text-decoration: none;
      font-size: 1em;
      margin-left: 15px;
    }
    .right-nav {
      display: inline;
      float: right;
      padding-top: 4px;
      #signup-link {
        background: rgb(82, 185, 218);
        border-radius: 999px;
        padding: 10px 25px;
        color: #fff;
      }
    }
    #logo {
      font-size: 20px;
      font-weight: 700;
      color: orange;
      margin-right: 20px;
      text-decoration: none;
    }
    .selected {
      color: #121212;
      &:link {
        border-top: 5px solid orange;
        padding-top: 40px;
      }
    }
  }
}

#site-introduction {
  background: url('../images/background.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 50px 0;
  .intro-content-ctn {
    width: 410px;
    position: relative;
    left: 140px;
    margin-top: 100px;
    h1 {
      width: 460px;
      font-size: 48px;
      font-weight: 300;
      color: #121212;
      margin-bottom: 20px;
    }
    p {
      color: #8a8a8a;
      width: 400px;
      line-height: 1.5;
      margin-bottom: 35px;
    }
    .btn {
      font-size: 14px;
      text-decoration: none;
      background: rgb(82, 185, 218);
      border: none;
      border-radius: 999px;
      padding: 15px 30px;
    }
    .dark-btn {
      margin-right: 15px;
      color: #fff;
    }
    .light-btn {
      border: 1px solid rgb(82, 185, 218);
      color: rgb(82, 185, 218);
      background: none;
    }
  }
}
